.expandableLine {
    animation-delay: 2s;
}

#niceToMeetYou {
    font-size: 30px;
    animation: niceToMeetYou 1s forwards;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
    visibility: hidden;
    text-align: center;
}

@keyframes niceToMeetYou {
    0% {
        transform: translateY(75%);
        color: black;
    }

    100% {
        color: white;
        visibility: visible;
    }
}

#niceToMeetYouLine {
    position: relative;
    bottom: 15px;
    border: none;
    height: 3px;
    background-color: white;
    width: 0%;
    border-radius: 5px;
    animation: niceToMeetYouLine 1.5s forwards;
    animation-iteration-count: 1;
    animation-delay: 1.7s;
}

@keyframes niceToMeetYouLine {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.div {
    text-align: center;
}

@media screen and (min-width: 700px) {
    .div h3 {
        font-size: 180%;
    }
}

#whoAmI .content {
    background-color: white;
    color: black;
    padding: 10px 5% 10px 5%;
    border-radius: 10px;
}

#changeTheWorld {
    animation: changeTheWorld 2s forwards;
    animation-iteration-count: 1;
    animation-delay: 3.5s;
    color: black;
}

@keyframes changeTheWorld {
    0% {
        color: black;
    }

    10% {
        color: red;
    }

    20% {
        color: orange;
    }

    30% {
        color: yellow;
    }

    40% {
        color: lightgreen;
    }

    50% {
        color: skyblue;
    }

    60% {
        color: indigo;
    }

    70% {
        color: blueviolet;
    }

    100% {
        color: black;
        visibility: visible;
    }
}

#whatIDo .content {
    background-color: #6b9776;
    color: white;
    padding: 10px 5% 10px 5%;
    border-radius: 10px;
}

#whatDoILike {
    background-color: #2177e5;
    color: white;
    padding: 10px 5% 10px 5%;
    border-radius: 10px;
    visibility: hidden;
}

ul {
    text-align: left;
}

ul li {
    padding-left: 5px;
}

#musicButton:hover {
    cursor: pointer;
}

#musicButton {
    color: #44ff00;
}

#musicList {
    display: none;
    padding-left: 10%;
}

#musicList li a {
    animation: musicList 2s infinite;
    color: red;
}

@keyframes musicList {
    14% {
        color: red;
    }

    28% {
        color: orange;
    }

    42% {
        color: yellow;
    }

    56% {
        color: lightgreen;
    }

    70% {
        color: skyblue;
    }

    84% {
        color: indigo;
    }

    98% {
        color: blueviolet;
    }
}

@media screen and (min-width: 700px) {
    #musicList li {
        font-size: 0.9em;
    }
}

#whatDoIKnow {
    background-color: #e69018;
    color: white;
    padding: 10px 5% 10px 5%;
    border-radius: 10px;
}

#funFacts {
    background-color: #df5f5f;
    color: white;
    padding: 10px 5% 10px 5%;
    border-radius: 10px;
}

#funFactsContent ul {
    list-style-type: none;
    padding: 0px;
}

#funFactsContent li {
    margin-bottom: 5px;
}

#funFactsContent li:hover {
    list-style-type: "✨";
    cursor: pointer;
    text-decoration: underline;
}

.goBack {
    animation-delay: 4.2s;
}

noscript {
    margin: 10px -20% 0px -20%;
}