.expandableLine {
    animation-delay: 1s;
}

#linkedin .content {
    background-color: #2c64bb;
    color: white;
    padding: 10px 5% 10px 5%;
    border-radius: 10px;
}

#linkedin .content button {
    background-color: #2c64bb;
}

#twitter .content {
    background-color: #4a98e9;
    color: white;
    padding: 10px 5% 10px 5%;
    border-radius: 10px;
}

#twitter .content button {
    background-color: #4a98e9;
}

#email .content {
    background-color: #6b9776;
    color: white;
    padding: 10px 5% 10px 5%;
    border-radius: 10px;
}

#email .content button {
    background-color: #6b9776;
}

section div {
    text-align: center;
}

.buttonDuplex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

@media screen and (min-width: 500px) {
    #buttonDuplex {
        flex-direction: row;
    }
    a button {
        margin-bottom: 0px;
    }
}

.noscript {
    color: rgb(196, 196, 196);
    text-align: center;
}

a button {
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

a button:hover {
    color: #121212;
}


