main {
    margin: 0px;
}

#landingDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 30px 0px 30px 0px;
    border-radius: 10px;
}

@media screen and (min-width: 500px) {
    #landingDiv {
        flex-direction: row;
    }
    #landingDivContent h1 {
        text-align: left !important;
    }
    #landingDivContent {
        text-align: left;
        padding-left: 1em;
    }
}

#landingDivImage {
    flex: 0 1;
}

#landingDiv img {
    width: 10rem;
}

#landingDivContent {
    color: black;
    text-align: center;
}

#landingDivContent h1 {
    text-align: center;
}

#myPicture {
    animation: myPicture 1.5s;
    animation-iteration-count: 1;
}

@keyframes myPicture {
    0% {
        opacity: 0;
        transform: scale(0, 0);
    }
}

#holaLabel {
    animation: holaLabel 1s forwards;
    animation-iteration-count: 1;
    animation-delay: 1.7s;
    visibility: hidden;
    color: black;
}

@keyframes holaLabel {
    0% {
        transform: translateY(150%);
        color: white;
    }
    100% {
        color: black;
        visibility: visible;
    }
}

@media screen and (min-width: 500px) {
    #nameLabel {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}


#nameLabel {
    animation: nameLabel 1s forwards;
    animation-iteration-count: 1;
    animation-delay: 3s;
    visibility: hidden;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    position: static;
    font-size: 1.5em;
}

@keyframes nameLabel {
    0% {
        transform: translateY(80%);
        color: black;
    }
    100% {
        color: black;
        visibility: visible;
    }
}

#myNameLabel {
    animation: myNameLabel 2s forwards;
    animation-iteration-count: 1;
    animation-delay: 3s;
    visibility: hidden;
    color: black;
}

@keyframes myNameLabel {
    0% {
        color: white;
    }
    10% {
        color: red;
    }
    20% {
        color: orange;
    }
    30% {
        color: yellow;
    }
    40% {
        color: lightgreen;
    }
    50% {
        color: skyblue;
    }
    60% {
        color: indigo;
    }
    70% {
        color: blueviolet;
    }
    100% {
        color: black;
        visibility: visible;
    }
}

.duplex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.duplex > section {
    flex: 1 1 0px;
}

@media screen and (min-width: 730px) {
    .duplex {
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        align-items: center;
    }
    .firstDuplex {
        margin-right: 5px;
    }
    .secondDuplex {
        margin-left: 5px;
    }
    .firstDuplex > section > div {
        height: 100px;
    }
    .secondDuplex > section > div {
        height: 100px;
    }
}


#whereDiv {
    animation: rise 1s forwards;
    animation-iteration-count: 1;
    animation-delay: 3.5s;
    visibility: hidden;
    background-color: #233f5b;
    border-radius: 10px;
    padding: 25px 15px 25px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}

#whereDivContent {
    border-radius: 10px;
    margin-top: 0px;
}

#whereDivContent h2 {
    font-weight: 600;
}

#whereFlag img {
    height: 6em;
    border-radius: 5px;
}

#ageDiv {
    animation: rise 1s forwards;
    animation-iteration-count: 1;
    animation-delay: 4s;
    visibility: hidden;
    border-radius: 10px;
    background-color: #0a7784;
    padding: 25px 0px 25px 15px;
    height: 100px;
}

#ageDivContent {
    color: white;
    text-align: left;
}

#ageDivContent h2 {
    font-weight: 600;
}

#ageDivContent noscript {
    color: #d2cbcb;
    font-size: 90%;
}

#aboutDiv {
    animation: rise 1s forwards;
    animation-iteration-count: 1;
    animation-delay: 4.5s;
    visibility: hidden;
}

#aboutDivContent {
    background-color: #1569ab;
    color: white;
    text-align: left;
    padding: 25px 15px 25px 15px;
    border-radius: 10px;
}

#aboutDivContent h2 {
    font-weight: 600;
    margin-top: 0px;
}

#aboutDivContent p {
    text-align: justify;
    font-size: 100%;
}

@media screen and (min-width: 700px) {
    #aboutDivContent p {
        font-size: 180%;
    }
}

.button {
    cursor: pointer;
    background-color: #F7AD19;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    font-size: 100%;
}

.button {
    background-color: #f7b93d;
}

.button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

@media screen and (min-width: 700px) {
    .button {
        font-size: 150%;
    }
}

#technologiesDiv {
    animation: rise 1s forwards;
    animation-iteration-count: 1;
    animation-delay: 5s;
    visibility: hidden;
}

#technologiesDivContent {
    background-color: #f39f4c;
    color: white;
    text-align: left;
    padding: 25px 15px 25px 15px;
    border-radius: 10px;
}

#technologiesDivContent h2 {
    font-weight: 600;
    margin-top: 0px;
}

#technologiesDivTable {
    margin: auto;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 15px;
}

#technologiesDivTable td {
    font-size: 100%;
}

@media screen and (min-width: 700px) {
    #technologiesDivTable td{
        font-size: 150%;
    }
}

.technologyName {
    width: 100%;
    max-width: 90%;
}

.technologyRating {
    text-align: right;
    letter-spacing: 5px;
}

#workDiv {
    animation: rise 1s forwards;
    animation-iteration-count: 1;
    animation-delay: 5.5s;
    visibility: hidden;
}

#workDivContent {
    background-color: #d94d55;
    color: white;
    text-align: left;
    padding: 25px 15px 25px 15px;
    border-radius: 10px;
}

#workDivContent h2 {
    font-weight: 600;
    margin-top: 0px;
}

#accomplishmentsDiv {
    animation: rise 1s forwards;
    animation-iteration-count: 1;
    animation-delay: 6s;
    visibility: hidden;
}

#accomplishmentsDivContent {
    background-color: #f3ed4c;
    color: black;
    text-align: left;
    padding: 25px 15px 25px 15px;
    border-radius: 10px;
}

#accomplishmentsDivContent h2 {
    font-weight: 600;
    margin-top: 0px;
}

#contributionsDiv {
    animation: rise 1s forwards;
    animation-iteration-count: 1;
    animation-delay: 6.5s;
    visibility: hidden;
}

#contributionsDivContent {
    background-color: #3c4550;
    text-align: left;
    padding: 25px 15px 25px 15px;
    border-radius: 10px;
}

#contributionsDivContent h2 {
    font-weight: 600;
    margin-top: 0px;
}

#contactDiv {
    animation: rise 1s forwards;
    animation-iteration-count: 1;
    animation-delay: 7s;
    visibility: hidden;
}

#contactDivContent {
    background-color: #343cd6;
    color: white;
    text-align: left;
    padding: 25px 15px 25px 15px;
    border-radius: 10px;
}

#contactDivContent h2 {
    font-weight: 600;
    margin-top: 0px;
}