html body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    max-width: 100%;
    overflow-x: hidden;
    color: white;
}

h1 {
    text-align: center;
}

header h2 {
    position: relative;
    bottom: 20px;
    font-size: 12px;
    animation: subtitleRise 1s forwards;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    visibility: hidden;
    color: black;
    text-align: center;
}

@keyframes subtitleRise {
    0% {
        transform: translateY(-75%);
        color: black;
    }

    100% {
        color: gray;
        visibility: visible;
    }
}

.expandableLine {
    position: relative;
    bottom: 15px;
    border: none;
    height: 3px;
    background-color: white;
    width: 0%;
    border-radius: 5px;
    animation: expandableLine 1.5s forwards;
    animation-iteration-count: 1;
    animation-delay: unset;
}

@keyframes expandableLine {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}


main {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-left: 5%;
}

@media screen and (min-width: 1000px) {
    main {
        margin-right: 20%;
        margin-left: 20%;
    }
}

.link {
    text-decoration: none;
    color: rgb(52, 52, 52);
}

.link:hover {
    text-decoration: underline;
    color: inherit;
    cursor: pointer;
}

.div {
    margin-bottom: 10px;
}

@keyframes rise {
    0% {
        opacity: 0.3;
        transform: translateY(30%);
    }

    100% {
        visibility: visible;
    }
}

.goBack {
    background-color: #161d47;
    animation: goBack 2s forwards;
    animation-iteration-count: 1;
    margin: auto;
    visibility: hidden;
    border-radius: 15px;
    text-decoration: none;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
}

.goBack a {
    text-decoration: none;
}

@keyframes goBack {
    0% {
        opacity: 0;
        visibility: visible;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

.goBack h4 {
    text-align: center;
    font-weight: 550;
    margin: 0px;
}

.goBack a {
    color: #888888;
}

.goBack a:hover {
    color: #FFF;
    cursor: pointer;
}

.noscript {
    display: block;
    font-size: 0.8em;
    color: #d2cbcb;
}