html body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 92vw;
    margin-left: 5vw;
    margin-right: 3vw;
    background-color: #ffffff;
    font-family: "GeistMono", "Helvetica", sans-serif;
    font-size: 12px !important;
}

/* style for mobile */

header {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    font-family: "GeistMono", monospace;
}

h1 {
    font-weight: 500;
    margin-top: 5px;
}

#key {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    margin-bottom: 10px;
    color: #555555;
    line-height: 1.6;
}

#key div {
    display: flex;
    flex-direction: column;
}

#key span {
    display: block;
    white-space: pre;
    letter-spacing: 0.05em;
}

#key span a {
    color: #555555;
}

a {
    text-decoration: underline;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #555555;
}

a[target="_blank"] {
    color: #555555;
}

#divider {
    width: 100%;
    height: 1px;
    background-color: #dddddd;
    margin-top: 10px;
    margin-bottom: 12px;
}

/* load Geist and GeistMono fonts */
@font-face {
    font-family: 'Geist';
    src: url('/css/fonts/Geist-v1.4.01/webfonts/Geist[wght].woff2') format('woff2');
}

@font-face {
    font-family: 'GeistMono';
    src: url('/css/fonts/GeistMono-1.4.01/webfonts/GeistMono[wght].woff2') format('woff2');
}