<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction to Git and GitHub | Sebastián Camargo</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/certificationsView.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="shortcut icon" href="/media/favicon/trophy/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/trophy/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/trophy/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/trophy/favicon-16x16.png">
    <!-- 
        The emoji graphics used for the favicon are from the open source project Twemoji.
        The graphics are copyright 2022 Twitter, Inc and other contributors. 
        The graphics are licensed under CC-BY 4.0.
    -->
</head>

<body>
    <main>
        <div class="certImage">
            <a href="/media/certificates/G22TSBKYRQBH/G22TSBKYRQBH.pdf" rel="noopener noreferrer" target="_blank">
                <img src="/media/certificates/G22TSBKYRQBH/G22TSBKYRQBH.webp" alt="A picture of certificate G22TSBKYRQBH">
            </a>
        </div>
        <div>
            <div>
                <h1>Introduction to Git and GitHub</h1>
            </div>
            <div class="certInfo">
                <div class="certTxt">
                    <h2>Certificate ID: <span>G22TSBKYRQBH</span></h2>
                    <h3>Time spent: <span>665 minutes</span></h3>
                    <h3>Course length: <span>4 weeks</span></h3>
                    <h3>Grade Achieved: <span>100%</span></h3>
                    <h3>Instructor: <span>Kenny Sulaimon</span></h3>
                    <h4>Authorized by: <span>Google</span></h4>
                    <h4>Offered through: <span>Coursera</span></h4>
                </div>
                <div class="certBtns">
                    <a href="/media/certificates/G22TSBKYRQBH/G22TSBKYRQBH.pdf" rel="noopener noreferrer" target="_blank">
                        <button class="viewCert">
                            View Certificate
                        </button>
                    </a>
                    <a href="https://coursera.org/verify/G22TSBKYRQBH" rel="noopener noreferrer" target="_blank">
                        <button class="verifyCert">
                            Verify Work
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <nav id="navBar">
            <div>
                <a href="/" rel="noopener noreferrer">home</a>
                <a href="/about" rel="noopener noreferrer">about me</a>
                <a href="/work" rel="noopener noreferrer">work</a>
            </div>
            <div>
                <a href="/certifications" rel="noopener noreferrer">certifications</a>
                <a href="/contributions" rel="noopener noreferrer">contributions</a>
                <a href="/contact" rel="noopener noreferrer">contact</a>
            </div>
        </nav>
    </footer>
</body>

</html>