<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterna | Sebastián Camargo</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/projects.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="shortcut icon" href="/media/favicon/projects/alterna/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/projects/alterna/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/projects/alterna/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/projects/alterna/favicon-16x16.png">
    <style>
        .banner {
            --accent: #44940a;
        }
    </style>
</head>

<body>
    <header>
        <h1>Teach the community.</h1>
        <h2>Learn with the community.</h2>
    </header>
    <div class="banner">
        <img src="/media/work/alterna/info/banner.webp" alt="The Alterna banner">
    </div>
    <div class="statusContainer">
        <span>Community Service</span>
        <span>2022 - Now</span>
        <span>Public</span>
    </div>
    <main>
        <section class="synopsis">
            <p>Alterna is a community service project that aims to teach middle school students the fundamentals of
                coding.</p>
            <p>As part of the International Baccalaureate program that I took during middle school, a community service
                project needed to be done to continue in the IB program for the following years. Alterna became
                the project that I worked on for such a requirement.</p>
            <p>With a team of more than 15 volunteers, Alterna became a well-organized organization that served over 50
                students within the school we operated in.</p>
            <p>While working on this project, I learned about team management and leadership, marketing, and teacher
                planning, which were key to the project's success.</p>
        </section>
        <section class="highlights">
            <h2>Highlights</h2>
            <div class="highlight">
                <div class="highlightImage">
                    <img src="/media/work/alterna/info/talent.webp" alt="An image showing the ping of alterna">
                </div>
                <div class="highlightText">
                    <h3>Top talent only.</h3>
                    <p>Our diverse, yet small team is composed of the best that there is.</p>
                    <p>After scouting over 30 students to join our cause, only 8 made it through our interview process
                        and high standards.</p>
                </div>
            </div>
            <div class="highlight">
                <div class="highlightImage">
                    <img src="/media/work/alterna/info/tools.webp"
                        alt="An image showing different commands for alterna">
                </div>
                <div class="highlightText">
                    <h3>Go pro or go home.</h3>
                    <p>Our approach and professionalism are like no other.</p>
                    <p>With top-of-the-line tools, we were able to manage our student's data with ease, all while saving
                        time and resources with asynchronous work.</p>
                </div>
            </div>
            <div class="highlight">
                <div class="highlightImage">
                    <img src="/media/work/alterna/info/zoom.webp" alt="An image showing a shield with the alterna logo">
                </div>
                <div class="highlightText">
                    <h3>Learn straight from your living room.</h3>
                    <p>100% online classes are easier on the agenda.</p>
                    <p>We designed our classes to be taught via Zoom, enabling our students to learn beyond the
                        classroom. Literally.</p>
                </div>
            </div>
        </section>
        <section class="learnMore">
            <h2>Learn more</h2>
            <div class="buttonContainer">
                <a href="https://alterna.dev" rel="noopener noreferrer" target="_blank"
                    class="homepage"><button>alterna.dev</button></a>
            </div>
        </section>
    </main>
    <footer>
        <nav id="navBar">
            <div>
                <a href="/" rel="noopener noreferrer">home</a>
                <a href="/about" rel="noopener noreferrer">about me</a>
                <a href="/work" rel="noopener noreferrer">work</a>
            </div>
            <div>
                <a href="/certifications" rel="noopener noreferrer">certifications</a>
                <a href="/contributions" rel="noopener noreferrer">contributions</a>
                <a href="/contact" rel="noopener noreferrer">contact</a>
            </div>
        </nav>
    </footer>
</body>

</html>