<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mirayoki | Sebastián Camargo</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/projects.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="shortcut icon" href="/media/favicon/projects/mirayoki/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/projects/mirayoki/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/projects/mirayoki/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/projects/mirayoki/favicon-16x16.png">
    <style>
        .banner {
            --accent: #ed4746;
        }
    </style>
</head>

<body>
    <header>
        <h1>Power, with a name.</h1>
        <h2>And a very cute face.</h2>
    </header>
    <div class="banner">
        <img src="/media/work/mirayoki/info/banner.webp" alt="The Mirayoki banner">
    </div>
    <div class="statusContainer">
        <span>JavaScript</span>
        <span>2020 - Now</span>
        <span>Open Source</span>
    </div>
    <main>
        <section class="synopsis">
            <p>Mirayoki is an open-source, JavaScript-based Discord bot that runs on Node.js using the Discord.js
                library.</p>
            <p>When the COVID-19 lockdown was in place around 2020, the Mirayoki project was born. Since then, it has
                grown over time and
                became my first full-stack project that included having to learn to develop a complete server-side
                client on the 10th version of the Discord API,
                design a responsive website on pure HTML and CSS, learn about Heroku, and CI/CD integrations with GitHub
                actions.</p>
            <p>Mirayoki is designed with communities in mind, whether they are a friend club or entire fandoms.</p>
        </section>
        <section class="highlights">
            <h2>Highlights</h2>
            <div class="highlight">
                <div class="highlightImage">
                    <img src="/media/work/mirayoki/info/ping.webp" alt="An image showing the ping of Mirayoki">
                </div>
                <div class="highlightText">
                    <h3>Faster than sound.</h3>
                    <p>Mirayoki goes over the slowness of other bots by serving requests faster than any other bot
                        available.</p>
                    <p>It achieves to do so by replying to requested interactions only, saving time and resources.</p>
                </div>
            </div>
            <div class="highlight">
                <div class="highlightImage">
                    <img src="/media/work/mirayoki/info/toolkit.webp"
                        alt="An image showing different commands for Mirayoki">
                </div>
                <div class="highlightText">
                    <h3>A whole toolkit. With just a click.</h3>
                    <p>Mirayoki possesses various functionalities that will enable your server to be secure, fun, and
                        awesome.</p>
                    <p>To call any, you just have to click '/' to see all available commands.</p>
                </div>
            </div>
            <div class="highlight">
                <div class="highlightImage">
                    <img src="/media/work/mirayoki/info/privacy.webp"
                        alt="An image showing a shield with the Mirayoki logo">
                </div>
                <div class="highlightText">
                    <h3>Private by default.</h3>
                    <p>Public information available to everyone in Discord is collected from the user.</p>
                    <p>Mirayoki does not infer a user's activity based on their interactions with Mirayoki, or the
                        servers they are in.</p>
                </div>
            </div>
        </section>
        <section class="learnMore">
            <h2>Learn more</h2>
            <div class="buttonContainer">
                <a href="https://github.com/mirei-org/mirayoki" rel="noopener noreferrer" target="_blank"
                    class="github"><button>View on GitHub</button></a>
                <a href="https://mirayoki.com" rel="noopener noreferrer" target="_blank"
                    class="homepage"><button>mirayoki.com</button></a>
            </div>
        </section>
    </main>
    <footer>
        <nav id="navBar">
            <div>
                <a href="/" rel="noopener noreferrer">home</a>
                <a href="/about" rel="noopener noreferrer">about me</a>
                <a href="/work" rel="noopener noreferrer">work</a>
            </div>
            <div>
                <a href="/certifications" rel="noopener noreferrer">certifications</a>
                <a href="/contributions" rel="noopener noreferrer">contributions</a>
                <a href="/contact" rel="noopener noreferrer">contact</a>
            </div>
        </nav>
    </footer>
</body>

</html>