<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scratch Projects | Sebastián Camargo</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/projects.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="shortcut icon" href="/media/favicon/projects/scratch/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/projects/scratch/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/projects/scratch/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/projects/scratch/favicon-16x16.png">
    <style>
        .banner {
            --accent: #f9a83b;
        }

        .scratch button {
            background-color: #f9a83b;
        }
    </style>
</head>

<body>
    <header>
        <h1>Every masterpiece starts with an artist.</h1>
        <h2>And every artist starts with nothing.</h2>
    </header>
    <div class="banner">
        <img src="/media/work/scratch/info/banner.webp" alt="The scratch banner">
    </div>
    <div class="statusContainer">
        <span>JavaScript</span>
        <span>2017 - 2020</span>
        <span>Open Source</span>
    </div>
    <main>
        <section class="synopsis">
            <p>Scratch is an open-source, JavaScript-based learning platform for kids that enables them to learn the
                fundamentals of coding using drag-and-drop blocks.</p>
            <p>When I was in elementary school, I started to get curiosity about computer science and the videogame
                industry.
                Scratch enabled me to learn basic Javascript algorithms, principles of UI/UX design, and storytelling
                abilities that I would later use in many of my works and projects.</p>
            <p>I started to use Scratch in the classroom, and that propelled me to build more advanced projects.</p>
        </section>
        <section class="highlights">
            <h2>Highlights</h2>
            <div class="highlight">
                <div class="highlightImage">
                    <img src="/media/work/scratch/info/poyoBomber.webp" alt="An image showing the ping of scratch">
                </div>
                <div class="highlightText">
                    <h3>Poyo Bomber</h3>
                    <p>One of the last projects I did while in school, this wholesome minigame consists of aiding the
                        <i>poyo</i> not to collide with any of the bombs, and eat the candies safely.
                    </p>
                    <p style="color: red;">Loud noise warning, please be careful if you have headphones!</p>
                </div>
            </div>
        </section>
        <section class="learnMore">
            <h2>Learn more</h2>
            <div class="buttonContainer">
                <a href="https://scratch.mit.edu/projects/403807278/" rel="noopener noreferrer" target="_blank"
                    class="scratch"><button>Poyo Bomber</button></a>
                <a href="https://scratch.mit.edu" rel="noopener noreferrer" target="_blank"
                    class="homepage"><button>scratch.mit.edu</button></a>
            </div>
        </section>
    </main>
    <footer>
        <nav id="navBar">
            <div>
                <a href="/" rel="noopener noreferrer">home</a>
                <a href="/about" rel="noopener noreferrer">about me</a>
                <a href="/work" rel="noopener noreferrer">work</a>
            </div>
            <div>
                <a href="/certifications" rel="noopener noreferrer">certifications</a>
                <a href="/contributions" rel="noopener noreferrer">contributions</a>
                <a href="/contact" rel="noopener noreferrer">contact</a>
            </div>
        </nav>
    </footer>
</body>

</html>